<h2>{{ subTitle }}</h2>
<div class="container">
    <mat-card *ngFor="let order of orders">
        <div *ngIf="order?.orderItems.length > 0">
            <mat-card-title>{{ order.id }}</mat-card-title>
            <mat-card *ngFor="let orderitem of order.orderItems">
                <mat-card-subtitle> {{ orderitem.name }}</mat-card-subtitle>
                <mat-card-content> {{ orderitem.price }}</mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="removeFromOrder(order, orderitem)">Remove From Order</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>
</div>