<h2>{{ subTitle }}</h2>
<div class="container">
    <div>
        <mat-card *ngFor="let product of products">
            <mat-card-title> {{ product.name }}</mat-card-title>
            <mat-card-content> {{ product.price }}</mat-card-content>
            <mat-card-actions>
                <form>
                    <mat-form-field>
                        <input matInput type="text" name="product-name" [(ngModel)]="product.name">
                    </mat-form-field>
                    <button mat-button (click)="updateProduct(product)">Update</button>
                    <button mat-button (click)="deleteProduct(product)">Delete</button>
                </form>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>Create a new Product:</mat-card-subtitle>
            <form>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Product Name" name="product_name" [(ngModel)]="product_name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Product Price" name="product_price" [(ngModel)]="product_price">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="createProduct(product_name, product_price)">Save</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>